.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}

.header{
    color: #ff001e;
    font-size: clamp(1.0rem, 10vw, 2.0rem);
    max-width: 800px;
    font-weight: bold;
    border-bottom: 3px solid #ff001e;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
    position: relative;
}

.header2 {
    color: #ff001e;
    font-size: 2.0rem;
    max-width: 800px;
    font-weight: bold;
    border-bottom: 3px solid #ff001e;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
    position: relative;
    bottom: 50px;
}

.reservas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px;
    margin-top: 5%;
}

.reserva-card {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 30px 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    overflow: hidden;
}

.reserva-image-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.training-type-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.reserva-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background-color: #ff001e;
}

.reserva-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.reserva-card p {
    margin: 0 0 12px 0;
    line-height: 1.5;
    color: #555;
}

.reserva-card p:last-child {
    margin-bottom: 0;
}

.reserva-card strong {
    color: #333;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    margin-top: -45px;
}

.custom-btn {
    color: #ff001e;
    border-color: #ff001e;
    background-color: #FFFFFF;
    display: inline-block;
    cursor: pointer;
    padding: 5px 12px;
    transition: all 0.18s ease-in-out;
    border-radius: 6px;
}

.custom-btn:hover {
    color: #FFFFFF;
    background-color: #ff001e;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}
.modal-close:hover {
    color: #333;
}

.modal-button {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: opacity 0.2s;
}
.modal-button:hover {
    opacity: 0.85;
}

.modal-button.edit {
    background-color: #000000;
}

.modal-button.delete {
    background-color: #ff001e;
}

.no-reservations {
    position: relative;
    text-align: center;
    padding: 90px;
    min-height: 400px;
    background-color: #f9f9f9;
    border: 4px dashed #ff001e;
    border-radius: 10px;
    margin-top: 10px;
    margin-top: -35px;
}

.no-reservations-content{
    margin-top: 70px;
}

.balon-m {
    position: absolute;
    width: 13%;
    bottom: 20px;
    left: 10px;
}

.pesa {
    position: absolute;
    width: 13%;
    bottom: 10px;
    right: 10px;
}

.golty {
    position: absolute;
    width: 11%;
    top: 20px;
    left: 20px;
}

.basquet {
    position: absolute;
    width: 11%;
    top: 20px;
    right: 20px;
}

.header-no-reservations{
    color: #8d8d8d;;
    font-weight: bold;
    position: relative;
    font-size: 20px;
}

.btn-reserve{
    font-weight: bold;
    background-color: #ff001e;
    color:#ffffff;
    position: relative;
    padding: 11px 25px;
    font-size: 17px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.btn-reserve:hover{
    background-color: #FFFFFF;
    color: #ff001e;
    border: 2px solid #ff001e;
}

.logout-btn{
    font-weight: bold;
}

.logout-btn:hover{
    color:#ff001e;
}

.card-text{
    font-weight: bold;
}

/* MOBILE */
@media (width <= 564px) {

    .container{
        margin: 0 auto;
        margin-top: 0;
    }

    .card-text{
        display: none;
    }

    .header2{
        bottom: 0;
        margin-bottom: 70px;
    }

    .header-no-reservations{
        text-align: left;
        font-size: 16px;
    }

     .no-reservations {
        position: relative;
        overflow: hidden;
    }

    .golty {
        position: absolute;
        transform: none;
        top: 15px;
        left: 15px;
    }

    .basquet {
        position: absolute;
        transform: none;
        top: 15px;
        right: 15px;
    }

    /* Esquina inferior izquierda */
    .balon-m {
        position: absolute;
        transform: none;
        bottom: 15px;
        left: 15px;
    }

    /* Esquina inferior derecha */
    .pesa {
        position: absolute;
        transform: none;
        bottom: 15px;
        right: 15px;
    }

    .header2{
        bottom: 0;
        margin-bottom: 70px;
    }

    .header-no-reservations{
        text-align: center;
        margin-bottom: 60px;
        font-size: 15px;
    }

    .btn-reserve{
        bottom: 40px;
        width: 100%;
        font-size: 8px;
    }
}