{% extends 'base.html' %}
{% load static %}
{% block title %}
Inicio de Sesión
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth/auth.css' %}">
{% endblock %}

{% block enlace_logo %}
<a href='/'>
{% endblock %}

{% block content %}

<div class="container" id="container">
  <div class="form-container sign-up">
    <form action="" method="post">
      {% csrf_token%}
      <h1>Regístrate</h1>
      <span>Ingrese sus datos para poder continuar:</span>
      <div>
        <input type="text" id="username" name="username" placeholder="Nombre de usuario" required>
      </div>
      <div>
        <input type="text" id="first_name" name="first_name" placeholder="Nombre" required>
      </div>
      <div>
        <input type="text" id="last_name" name="last_name" placeholder="Apellido" required>
      </div>
      <div>
        <input type="email" id="email" name="email" placeholder="Correo electrónico" required>
      </div>
      <div>
        <input type="password" id="password1" name="password1" placeholder="Contraseña" required>
      </div>
      <div>
        <input type="password" id="password2" name="password2" placeholder="Confirmar Contraseña" required>
      </div>
      <div>
        <button type="submit" name="register_submit">Registrarse</button>
      </div>
    </form>
  </div>
  <div class="form-container sign-in">
    <form method="post">
      {% csrf_token %}
      <h1>Inicio de Sesión</h1>
      <span>Por favor ingrese su correo electrónico:</span>
      <div>
        <input type="text" id="username" name="username" placeholder="Nombre de usuario" required>
      </div>
      <div>
        <input type="password" id="password" name="password" placeholder="Contraseña" required>
      </div>
      <div>
        <button type="submit" name="login_submit">Iniciar sesión</button>
      </div>
      <div>
        <a href="/reset_password/">¿Olvidaste tu contraseña?</a>
      </div>
    </form>
  </div>
  <div class="toggle-container">
    <div class="toggle">
      <div class="toggle-panel toggle-left">
        <h1>INSERTE TITULO XD</h1>
        <p>sajjshjdshjhdsjhdjshdjhdjdshjdshjhsdjhdsdshsdj</p>
        <button class="hidden" id="login">Iniciar Sesión</button>
      </div>
      <div class="toggle-panel toggle-right">
        <h1>OTRO TITULO</h1>
        <p>sajjshjdshjhdsjhdjshdjhdjdshjdshjhsdjhdsdshsdj</p>
        <button class="hidden" id="register">Registrarse</button>
      </div>
    </div>
  </div>

  {% endblock %}

  {% block js %}
  <script src="{% static 'js/auth.js' %}"></script>
  {% endblock %}