* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    background-color: #ff001e !important;
    z-index: 1000;
    padding: 0 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-right .social-icon{
    width: 28px;
    height: 28px;
    color: white;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.navbar-right .social-icon:hover {
    transform: translateY(-5px);
}


.logo-navbar {
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-top: 1%;
}

.navbar .btn-success {
    background-color: green;
    margin-left: 20px;
}

.navbar input[type="search"] {
    border-color: white;
}

.offcanvas-header {
    background-color: #ff001e;
    color: white;
}

body {
    padding-top: 150px;
    margin-bottom: 60px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    background-color: #ff001e00;
    color: rgb(124, 124, 124);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}