* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    background-color: #ff001e !important;
    z-index: 1000;
    padding: 0 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-right .social-icon{
    width: 28px;
    height: 28px;
    color: white;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.navbar-right .social-icon:hover {
    transform: translateY(-5px);
}


.logo-navbar {
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-top: 1%;
}

.navbar .btn-success {
    background-color: green;
    margin-left: 20px;
}

.navbar input[type="search"] {
    border-color: white;
}

.offcanvas-header {
    background-color: #ff001e;
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
}

.offcanvas-title {
    font-weight: bold;
    margin-right: auto;
    font-size: 1.4em;
}

.logo2 {
    width: 15%;
}

body {
    padding-top: 150px;
    margin-bottom: 60px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dropdown-menu.dropdown-menu-dark {
    background-color: #ff001e;
    border-color: #ff001e;
}

.dropdown-menu.dropdown-menu-dark .dropdown-item {
    color: white;
}

.dropdown-menu.dropdown-menu-dark .dropdown-item:hover {
    background-color: #d3011a;
    color: #ffffff;
    font-weight: bold;
}

.dropdown-menu.dropdown-menu-dark .dropdown-divider {
    border-color: rgba(255, 255, 255, 0.25);
}

footer {
    background-color: #ff001e00;
    color: rgb(124, 124, 124);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-navbar{
    color: rgb(124, 124, 124);
    text-align: center;
    font-size: 0.9em;
}

::selection{
    background-color: #ff001e;
    color: white;
}
