* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

html{
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    background-color: #ff001e !important;
    z-index: 1000;
    padding: 0 1vw;
}

main {
    flex-grow: 1; /* Hace que el contenido principal crezca y ocupe el espacio sobrante */
}

.align-items-center {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.social-icon-mobile{
    display: none;
}

.social-icon{
    width: 28px;
    height: 28px;
    color: white;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.social-icon:hover {
    transform: translateY(-5px);
}

.logo-navbar-mobile {
    display: none;
}

.logo-navbar {
    width: 50%;
    height: auto;
    margin-left: 25%;
    margin-top: 1%;
}

.navbar .btn-success {
    background-color: green;
    margin-left: 20px;
}

.navbar input[type="search"] {
    border-color: white;
}

.offcanvas-header {
    background-color: #ff001e;
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-start;
}

.offcanvas-title {
    font-weight: bold;
    margin-right: auto;
    font-size: 1.4em;
}

.logo2 {
    width: 15%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 19vh;
    margin-bottom: 60px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dropdown-menu.dropdown-menu-dark {
    background-color: #ff001e;
    border-color: #ff001e;
}

.dropdown-menu.dropdown-menu-dark .dropdown-item {
    color: white;
}

.dropdown-menu.dropdown-menu-dark .dropdown-item:hover {
    background-color: #d3011a;
    color: #ffffff;
    font-weight: bold;
}

.dropdown-menu.dropdown-menu-dark .dropdown-divider {
    border-color: rgba(255, 255, 255, 0.25);
}

footer {
    background-color: #ff001e00;
    color: rgb(124, 124, 124);
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

main {
    padding: 10px;
}

.footer-navbar{
    color: rgb(124, 124, 124);
    text-align: center;
    font-size: 0.9em;
}

::selection{
    background-color: #ff001e;
    color: white;
}

/* MOBILE */

@media (width <= 564px){

    body{
        padding-top: 10vh;
    }

    .navbar .container-fluid {
        padding-left: 6px;
        padding-right: 6px;
    }

    .navbar .d-flex{
        gap: 5px;
    }

    .social-icon-container{
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .logo-navbar {
        display: none;
    }

    .logo-navbar-mobile{
        display: block;
        width: 90px;
        height: auto;
        margin-top: 1%;
    }

    .social-icon{
        display: none;
    }

    .social-icon-mobile{
        display: block;
        width: 25px;
        height: 25px;
        color: white;
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    .social-icon-mobile:hover {
    transform: translateY(-5px);
    }

    .navbar{
        padding: 0 0px;
    }

    .navbar-right{
        margin-left: auto;
    }

    .logout-text{
        display: none;
    }
}
