{% extends 'base.html' %}
{% load static %}
{% block title %}
Tus reservas
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/reserve/view_reservations.css'%}">
{% endblock %}

{% block enlace_logo %}
<a href='/home/'>
{% endblock %}

{% block extra_navbar %}
<a href="/logout/" button type="button" class="btn btn-outline-light"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
  </svg>  Cerrar Sesión</button></a>
{% endblock %}

{% block content %}
<div class="container" style="max-width: 900px; margin: 20px auto; padding: 20px;">
    <h2>Mis Reservas de Entrenamiento </h2>

    {% if reservas %}
        <div class="reservas-grid">
            {% for reserva in reservas %}
                <div class="reserva-card">
                    <div class="reserva-image-container">
                        {% for tipo in reserva.training_type.all %}
                            {% if tipo.image %}
                                <img src="{{ tipo.image.url }}" alt="{{ tipo.name }}" class="training-type-image">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <p><strong>Fecha:</strong> {{ reserva.date|date:"d/m/Y" }}</p>
                    <p><strong>Hora:</strong> {{ reserva.time|time:"h:i A" }}</p>
                    <p><strong>Lugar:</strong> {{ reserva.location }}</p>
                    <p>
                        <strong>Tipo(s) de Entrenamiento:</strong>
                        {% for tipo in reserva.training_type.all %}
                            {{ tipo.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="no-appointments">
            <p>No tienes ninguna reserva de entrenamiento en este momento.</p>
            <a href="{% url 'reserve' %}" class="reserve-now-link">¡Haz una reserva ahora!</a>
        </div>
    {% endif %}
</div>
{% endblock %}