body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.header{
    font-size: 2.3em;
}

.container{
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 520px;
    margin-top: 4%;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
    color:rgb(170, 170, 170);
}

.container a{
    color:rgb(170, 170, 170);
    font-size: 13px;
}

.login-title{
    margin-bottom: 10%;
}

.btn-google {
  margin-top: 8%;
  padding: 12px 30px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 5px;
  text-decoration: none;
}

.btn-google img{
    width: 24px;
    height: 24px;
}

.btn-google span{
    color: #FFF;
    font-size: 1.2em;
    font-weight: bold;
}

.btn-google::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.btn-google::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FFFB00, #03be19 , #0279c9,
    #0279c9, #03be19, #FFFB00, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(9px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.btn-google:hover::before {
  opacity: 1;
}

.btn-google:active:after {
  background: transparent;
}

.btn-google:active {
  color: #000;
  font-weight: bold;
}

.btn-login,
.btn-register {
    background-color: #ff001e;
    color: white;
    font-size: medium;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-login{
    margin-top: 8%;
}

.btn-register{
    margin-top: 5%;
}

.container button.hidden{
    background: transparent;
    border-color: white;
    font-size: medium;
    padding: 10px 45px;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden:hover {
    background-color: white;
    color: #ff001e;
}

.form-container button[type="submit"]{
    transition: background-color 0.5s ease;
}

.form-container button[type="submit"]:hover{
    background-color: #bf0319;
}

.container form{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    height: 100%;
}

.container input{
    background-color: #fac1c8;
    border: none;
    margin: 8px 0;
    padding: 10px 40px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.activate .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.activate .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 500;
}

.container.activate .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #ff001e;
    height: 100%;
    background: #ff001e;
    color: white;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.activate .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.activate .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.activate .toggle-right{
    transform: translateX(200%);
}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px #ffffff inset;
    -webkit-text-fill-color: #000000;
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 1000px #fac1c8 inset;
    -webkit-text-fill-color: #000000;
}

.volver-btn{
    font-weight: bold;
}

.volver-btn:hover{
    color: #ff001e;
}

::selection{
    background-color: #ff001e;
    color: white;
}

.form-errors {
    color: #ff001e;
}

@media (width <= 700px){

     body {
        padding-top: 15vh;
        align-items: stretch;
        overflow-y: auto;
    }

    .container {
        width: 90%;
        min-height: 1000px;
        margin-top: 0;
        border-radius: 30px;
    }

    h1 {
        font-size: 1.6em;
    }

    .form-container {
        height: 500px;
        width: 100%;
        text-align: center;
    }

    .toggle-container {
        height: 500px;
        width: 100%;
        top: 50%;
        left: 0;
        right: 0;
        border-radius: 0;
    }

    .toggle {
        width: 100%;
        left: 0;
        right: 0;
    }

    .toggle-panel {
        width: 100%;
        border-radius: 0;
        left: 0;
        right: 0;
    }

    .container.activate .sign-in{
        transform: translateY(100%);
    }

    .container.activate .sign-up{
        transform: translateY(100%);
        opacity: 1;
    }

    .container.activate .toggle{
    transform: translateX(0);
    }

    .container.activate .toggle-container{
        transform: translateY(-100%);
        border-radius: 0;
    }

    .volver-btn {
        display: none;
    }
}