body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 650px;
    max-width: 100%;
    height: 580px;
    margin-top: -20px;
    padding: 0%;
    box-sizing: border-box;
}

.unsplash {
    width: 100%;
    height: 90px;
    object-fit: cover;
    display: block;
}

.pesa {
    position: absolute;
    top: 80px;
    left: 15%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: auto;
    z-index: 2;
}

.form-title {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 2%;
    color: #333;
    font-weight: 800;
}

.form-content {
    padding: 1% 30px 40px 40px;
}

.booking-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex-basis: 48%;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
    font-size: 14px;
}

.form-group input[type="date"],
.form-group input[type="time"],
.form-group input[type="text"],
.form-group input[type="tel"],
.form-group select,
.form-group textarea {
    height: 70%;
    width: 100%;
    padding: 12px;
    background-color: #fac1c8;
    border: 2px solid transparent;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #ff001e;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

.form-group button[type="submit"] {
    margin-top: 9%;
    background-color:#ff001e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.form-group button[type="submit"]:hover {
    background-color: #8b0010;;
}
