
.index-container {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.text-container {
    flex: 2;
    padding-left: 7%;
    color: rgb(141, 141, 141);
    padding-top: 5%;
}

.text-container h1 {
    font-size: clamp(1.8rem, 2.5vw, 2.5rem);
    font-weight: bold;
}

.highlight-red {
    color: #ff001e;
    font-size: clamp(1.8rem, 2.5vw, 2.5rem);
    font-weight: bold;
}

.text-container h4 {
    font-size: clamp(0.9rem, 1.3vw, 1.3rem);
    line-height: 1.5;
    text-align: justify;
}

.image-container {
    flex: 1;
}

.bt-imagenes {
    position: relative;
    width: 40%;
    left: 5%;
}

.bt-imagenes .logo {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 50%;
    z-index: 1;
    filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.3));
}

.overlay-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.overlay-images img {
    position: relative;
    width: 25%;
    height: auto;
    filter: drop-shadow(9px 9px 15px rgba(0, 0, 0, 0.4));
}

.overlay-images .jabalina {
    width: 60%;
    z-index: 2;
    right: 30%;
}

.overlay-images .balon-m,
.overlay-images .pesa,
.overlay-images .golty {
    z-index: 4;
}

.overlay-images .balon-m{
    width: 35%;
    top: 42%;
    left: 8%;
}
.overlay-images .pesa {
    width: 30%;
    top: 48%;
    right: 8%;
}

.overlay-images .golty{
    width: 26%;
    right: 75%;
    top: 48%;
}

.overlay-images .basquet{
    width: 28%;
    right: 85%;
    top: 42%;
    z-index: 3;
}

.button-container{
    text-align: center;
}

.custom-btn {
    color: #ff001e;
    border: 2px solid #ff001e;
    padding: 10px 28px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.custom-btn:hover {
    background-color: #ff001e;
    color: #FFFFFF;
}

.custom-btn:active {
    transform: translateY(1px);
}

.empezar-btn{
    font-weight: bold;
}
.empezar-btn:hover {
    color: #ff001e;
}

@media (width <= 564px) {
    .empezar-btn{
        display: none;
    }

    .index-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 100%;
        margin-top: 20px;
    }

    .text-container {
        flex: unset;
        width: 90%;
        padding-left: 0;
        padding-top: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    .button-container {
        text-align: center;
    }

    .custom-btn {
        width: 60%;
        font-size: 0.9rem;
    }

    .bt-imagenes{
        left: 0;
        margin-top: 7%;
        margin-bottom: 7%;
        width: 80%;
    }

}
